nav {
    background-color: #FFAEBC;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 8rem;
    }

    .auth-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

        button {
            background-color: #e2f5f5;
            border: 1px solid #ccc;
            border-radius: 20px;
            padding: 0.5rem 1rem;
            cursor: pointer;
            font-size: 0.9rem;
        }
    }
}